<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css">

  <title>CM0645 Internet of Things</title>
</head>

<body>
  <div class="container">
    <h1>CM0645 Internet of Things</h1>

    <!-- Start of row -->
    <div class="row">
      <!-- 9 columns to display resource name -->
      <div class="nine columns">
        <h3>LED Red</h3>
      </div>
      <!-- 3 columns to display toggle button -->
      <div class="three columns">
        <label class="switch">
          <input id= "red-toggle-switch" type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
    </div>
    <!-- End of row -->

    <!-- Start of row -->
    <div class="row">
      <!-- 9 columns to display resource name -->
      <div class="nine columns">
        <h3>LED Green</h3>
      </div>
      <!-- 3 columns to display toggle button -->
      <div class="three columns">
        <label class="switch">
          <input id= "green-toggle-switch" type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
    </div>
    <!-- End of row -->

    <!-- Start of row -->
    <div class="row">
      <!-- 9 columns to display resource name -->
      <div class="nine columns">
        <h3>LED Blue</h3>
      </div>
      <!-- 3 columns to display toggle button -->
      <div class="three columns">
        <label class="switch">
          <input id= "blue-toggle-switch" type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
    </div>
    <!-- End of row -->

    <canvas id="mycanvas" width="1000" height="300"></canvas>

    <!-- Start of row -->
    <div class="row">
      <button id="subscribe-button">Start</button>
    </div>
    <!-- End of row -->
  </div>

  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/socket.io.js"></script>
  <script type="text/javascript" src="js/smoothie.js"></script>
  <script type="text/javascript">
    $(function() {
      var socket = io();

      // Handle update button click action
      $('#subscribe-button').click(function () {
        console.log('subscribe-to-accelerometer');
        socket.emit('subscribe-to-accelerometer');
      })

      // Listen to server response for toggle switch value
      socket.on('toggle-value', function (data) {
        console.log('Receieved response');
        $('#' + data.id).html(data.value);
      });

      document.getElementById('red-toggle-switch').onclick = function() {
        var value = 1;
        if (this.checked) {
          value = 0;
        }
        socket.emit('toggle-switch', {
          id: '/led/0/red',
          value: value
        });
      };

      document.getElementById('green-toggle-switch').onclick = function() {
        var value = 1;
        if (this.checked) {
          value = 0;
        }
        socket.emit('toggle-switch', {
          id: '/led/0/green',
          value: value
        });
      };

      document.getElementById('blue-toggle-switch').onclick = function() {
        var value = 1;
        if (this.checked) {
          value = 0;
        }
        socket.emit('toggle-switch', {
          id: '/led/0/blue',
          value: value
        });
      };

      // Initialising graph diagram
      var smoothie = new SmoothieChart();
      smoothie.streamTo(document.getElementById("mycanvas"));

      // Data
      var line1 = new TimeSeries();
      var line2 = new TimeSeries();
      var line3 = new TimeSeries();

      // Add to SmoothieChart
      smoothie.addTimeSeries(line1, { strokeStyle:'rgb(255, 0, 0)', fillStyle:'rgba(255, 0, 0, 0.0)', lineWidth:3 });
      smoothie.addTimeSeries(line2, { strokeStyle:'rgb(0, 255, 0)', fillStyle:'rgba(0, 255, 0, 0.0)', lineWidth:3 });
      smoothie.addTimeSeries(line3, { strokeStyle:'rgb(0, 0, 255)', fillStyle:'rgba(0, 0, 255, 0.0)', lineWidth:3 });

      // Listen to server response for accelerometer value
      socket.on('accelerometer-value', function (data) {
        console.log('Receieved response');
        if (data.id == "/acc/0/x") {
          line1.append(new Date().getTime(), data.value/1000);
        } else if (data.id == "/acc/0/y") {
          line2.append(new Date().getTime(), data.value/1000);
        } else if (data.id == "/acc/0/z") {
          line3.append(new Date().getTime(), data.value/1000);
        }
      });
    });
  </script>
</body>
</html>
