<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css">

  <title>CM0645 Internet of Things</title>
</head>

<body>
  <div class="container">
    <h1>CM0645 Internet of Things</h1>

    <!-- Start of row -->
    <div class="row">
      <!-- 9 columns to display resource name -->
      <div class="nine columns">
        <h3>LED Red</h3>
      </div>
      <!-- 3 columns to display toggle button -->
      <div class="three columns">
        <label class="switch">
          <input id= "red-toggle-switch" type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
    </div>
    <!-- End of row -->

    <!-- Start of row -->
    <div class="row">
      <!-- 9 columns to display resource name -->
      <div class="nine columns">
        <h3>LED Green</h3>
      </div>
      <!-- 3 columns to display toggle button -->
      <div class="three columns">
        <label class="switch">
          <input id= "green-toggle-switch" type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
    </div>
    <!-- End of row -->

    <!-- Start of row -->
    <div class="row">
      <!-- 9 columns to display resource name -->
      <div class="nine columns">
        <h3>LED Blue</h3>
      </div>
      <!-- 3 columns to display toggle button -->
      <div class="three columns">
        <label class="switch">
          <input id= "blue-toggle-switch" type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
    </div>
    <!-- End of row -->

    <!-- Start of row -->
    <div class="row">
      <div class="nine columns">
        <h3>Accelerometer X</h3>
      </div>
      <div class="three columns">
        <h3><span id="acc-x-value">Unknown</span></h3>
      </div>
    </div>
    <!-- End of row -->

    <!-- Start of row -->
    <div class="row">
      <div class="nine columns">
        <h3>Accelerometer Y</h3>
      </div>
      <div class="three columns">
        <h3><span id="acc-y-value">Unknown</span></h3>
      </div>
    </div>
    <!-- End of row -->

    <!-- Start of row -->
    <div class="row">
      <div class="nine columns">
        <h3>Accelerometer Z</h3>
      </div>
      <div class="three columns">
        <h3><span id="acc-z-value">Unknown</span></h3>
      </div>
    </div>
    <!-- End of row -->

    <!-- Start of row -->
    <div class="row">
      <button id="update-button">Update</button>
    </div>
    <!-- End of row -->
  </div>

  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/socket.io.js"></script>
  <script type="text/javascript">
    $(function() {
      var socket = io();

      // Handle update button click action
      $('#update-button').click(function () {
        console.log('GET accelerometer value');
        socket.emit('get-accelerometer-value');
      })

      document.getElementById('red-toggle-switch').onclick = function() {
        var value = 1;
        if (this.checked) {
          value = 0;
        }
        socket.emit('toggle-switch', {
          id: '/led/0/red',
          value: value
        });
      };

      document.getElementById('green-toggle-switch').onclick = function() {
        var value = 1;
        if (this.checked) {
          value = 0;
        }
        socket.emit('toggle-switch', {
          id: '/led/0/green',
          value: value
        });
      };

      document.getElementById('blue-toggle-switch').onclick = function() {
        var value = 1;
        if (this.checked) {
          value = 0;
        }
        socket.emit('toggle-switch', {
          id: '/led/0/blue',
          value: value
        });
      };

      // Listen to server response for accelerometer value
      socket.on('accelerometer-value', function (data) {
        console.log('Receieved response');
        $('#' + data.id).html(data.value);
      });

      // Listen to server response for toggle switch value
      socket.on('toggle-value', function (data) {
        console.log('Receieved response');
        $('#' + data.id).html(data.value);
      });
    });
  </script>
</body>
</html>
